# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# React specific files
client/build/
